streamlit>=1.22.0
transformers
torch
torchvision
pymupdf
pandas
openpyxl
requests
Pillow
pdf2image
pypdf
numpy
xlsxwriter
#Below added by rachel on 22Mar to test the OCR scenario
PyMuPDF
easyocr
pandas
plotly
PyPDF2
